body {
  font-family: "Roboto", Arial, sans-serif;
  margin: 0;
}

.section-container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20vw;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.main-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #33292a;
  min-height: 64px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 32px;
  margin: 0;
  padding: 0;
}

h1,
h2 {
  margin: 0;
}

.nav-links li a {
  text-decoration: none;
  color: #fff;
  font-size: 1.1em;
  transition: color 0.2s;
  position: relative;
  padding: 4px 0;
}

#hero {
  position: relative;
  height: 100vh;
  overflow: hidden; /* Tohle schová, co přetéká */
  display: flex;
  align-items: flex-end;
  padding-bottom: 30px;
  justify-content: flex-end;
}

.hero-bg {
  position: absolute;
  inset: 0;
  background-image: url("images/scott-goodwill-y8Ngwq34_Ak-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: 0;
  animation: heroZoom 10s ease-in-out infinite alternate;
}

@keyframes heroZoom {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.2);
  }
}

.hero-content {
  position: relative;
  z-index: 1;
  color: #fff;
  font-size: 4vw;
  font-weight: bold;
  text-align: right;
  margin: 0 auto;
  box-sizing: border-box;
}

#about {
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 48px 0;
}

.about-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
  box-sizing: border-box;
}

.about-text {
  flex: 1 1 350px;
  min-width: 220px;
}

.about-image {
  flex: 1 1 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 160px;
  max-width: 400px;
}
.about-image img {
  width: 100%;
  /* height: 100%; */
  border-radius: 5px;
  display: block;
  object-fit: cover;
}

#whatwedo {
  background: #33292a;
  color: #fff;
  padding: 48px 0;
}

.whatwedo-text h2 {
  margin-bottom: 16px;
  font-size: 2em;
  padding: 0;
  text-align: center;
}

.whatwedo-text {
  margin: 0 auto 32px auto;
  text-align: center;
}

.whatwedo-icons {
  display: flex;
  justify-content: center;
  gap: 64px;
  margin-top: 24px;
}

.icon-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 120px;
}

.icon-box img {
  width: 64px;
  height: 64px;
  margin-bottom: 12px;
}

.icon-box div {
  margin-top: 6px;
  font-size: 1.1em;
  font-weight: 500;
}

#gallery {
  padding: 48px 0;
  background: #fff;
}

.gallery-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 24px;
  box-sizing: border-box;
}

.gallery-item {
  background: #f2f2f2;
  overflow: hidden;
  aspect-ratio: 1/1;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.gallery-title.desktop {
  display: inline;
}

.gallery-title.mobile {
  display: none;
}

.gallery-center {
  background: #ededed;
  color: #222;
  font-weight: 700;
  font-size: 2em;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

#where {
  background: #644b4f;
  color: #fff;
  padding: 64px 0;
}

.where-container {
  display: flex;
  gap: 10px;
}
.where-title {
  flex: 1 1 150px;
  display: flex;
  justify-content: flex-start;
}

.where-text {
  flex: 2 1 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 18px;
}

.where-text p {
  margin: 0 0 6px 0;
  font-size: 1em;
  color: #eee;
}

.contact-btn {
  margin-top: 14px;
  padding: 12px 32px;
  font-size: 1em;
  font-weight: 700;
  border: none;
  background: #fff;
  color: #7d6363;
  border-radius: 5px;
  cursor: pointer;
}

#reviews {
  background: #fff;
  color: #222;
  padding: 56px 0;
}

.reviews-header {
  text-align: center;
  max-width: 400px;
  margin: 0 auto 48px auto;
}

.reviews-header h2 {
  margin-bottom: 16px;
  font-size: 2em;
}

.reviews-header p {
  margin: 0;
  color: #333;
}

.reviews-list {
  display: flex;
  justify-content: center;
  gap: 48px;
}

.review-box {
  flex: 1 1 340px;
  max-width: 400px;
  padding: 32px 24px 24px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.review-box img {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 18px;
  border: 3px solid #eee;
}

.review-box p {
  font-size: 1em;
  margin: 0 0 18px 0;
  color: #444;
  text-align: center;
}

.review-name {
  font-weight: bold;
  font-size: 1.05em;
  margin-top: 6px;
  color: #222;
}

#fourimages {
  padding: 0 0;
}

.fourimages-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  max-width: 100%;
}

.four-img {
  width: 100%;
  aspect-ratio: 16/9;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.four-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.contact-btn:hover {
  background: #33292a;
  color: #fff;
}

footer {
  background: #333333;
  color: #fff;
  padding: 36px 0 24px 0;
  text-align: center;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.footer-link {
  color: #efa69d;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 8px;
}

.footer-link:hover {
  color: #e9877b;
  text-decoration: underline;
}

.footer-copy {
  color: #eee;
  font-size: 0.98em;
}

.hamburger {
  display: none;
}

/* Tablet */

@media (max-width: 992px) {
  .section-container {
    padding: 0 70px;
  }
  .main-nav {
    justify-content: flex-end;
    padding-right: 16px;
  }
  .hero-content {
    font-size: 6vw;
  }
  .nav-links {
    display: none;
  }
  .hamburger {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 48px;
    font-size: 2.2em;
    color: #fff;
    cursor: pointer;
    background: none;
    border: none;
  }
  .hamburger:hover {
    background: rgba(255, 255, 255, 0.08);
    border-radius: 8px;
  }

  .about-container {
    flex-direction: row;
    align-items: stretch;
  }
  .about-image {
    align-items: stretch;
  }
  .about-image img {
    height: 100%;
    object-fit: cover;
  }

  .about-text {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Vertikálně zarovná text na střed, můžeš upravit */
    padding: 0 32px 0 0; /* Pravý padding */
  }

  .gallery-title.desktop {
    display: none;
  }
  .gallery-title.mobile {
    display: inline;
  }
  .gallery-center {
    text-align: center;
    font-size: 3em;
  }
  .where-title h2 {
    font-size: 3em;
  }
  .four-img {
    aspect-ratio: 4/3;
  }
}

/* Mobil */

@media (max-width: 768px) {
  .section-container {
    padding: 8vw 10vw;
  }
  .whatwedo-icons {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  .icon-box {
    min-width: 120px;
    flex: 1 1 40vw;
    max-width: 45vw;
  }
  .icon-box img {
    width: 80px;
    height: 80px;
  }
  .icon-box div {
    font-size: 1.5em;
  }
  .about-container {
    flex-direction: column;
    gap: 24px;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    max-width: 100vw;
  }

  .about-image {
    max-width: 100vw;
    width: 100%;
    height: auto !important;
    justify-content: center;
    align-items: stretch;
  }

  .about-image img {
    width: 100%;
    max-width: 100vw;
    height: auto !important;
    aspect-ratio: 16/9;
    object-fit: cover;
    display: block;
  }
  .about-text h2 {
    font-size: 3em;
  }
  .gallery-grid {
    grid-template-columns: 1fr;
    grid-template-rows: unset;
    gap: 10px;
  }
  .gallery-item {
    aspect-ratio: 16/10;
  }
  .gallery-center {
    height: 80px;
    width: 100%;
  }
  .gallery-title.desktop {
    display: inline;
    font-size: 0.5em;
  }
  .gallery-title.mobile {
    display: none;
  }
  .where-container {
    flex-direction: column;
    gap: none;
  }
  .where-title {
    flex: 1 1 100px;
    font-size: 0.7em;
  }
  .where-text {
    flex: auto;
  }
  .reviews-header {
    margin: 0;
  }
  .reviews-list {
    flex-direction: column;
    gap: 0px;
  }
  .review-box {
    flex: 1 1 10px;
  }
  #reviews {
    padding: 20px;
  }
  .fourimages-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr;
    max-width: 100%;
  }
  .footer-container {
    gap: 0px;
  }
  .footer-copy {
    font-size: 0.75em;
  }
}
